* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(251, 230, 233);
    max-width: 100vw;
    margin: 0 auto;
}

.Hearder-left {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 20px 6px;
    font-size: 25px;
    padding-right: 80px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 8px 10px;
    padding: 4px 6px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
}


.Hearder-right {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ipt {
    margin: 0px 4px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px 10px;
}

.btn {
    margin: 0px 4px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px 10px;
}

.Hearder-right-items {
    padding-left: 20px;
    font-size: 15px;
    padding-right: 15px;
}

.Hearder-right-items a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 8px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.Cant {
    /* background: yellow; */
    display: flex;
    margin: 0 auto;
    height: 300px;
    max-width: 80vw;
    align-items: center;
    /* justify-content: space-evenly; */
}
.Cant::after{
    content: "";
    background-color: blue;
    opacity: 0.3;
}
.Cant-left {
    width: 70%;
    /* background: green; */
    font-size: 20px;
}

.Cant-right img {
    height: 280px;
    width: 280px;
    margin: -66px 120px;
    border: 1px solid black;
    border-radius: 180px;
}

hr {
    max-width: 80vw;
    margin: 0 auto;
}
.column h1{
    text-align: center;
    margin: 12px 2px;
    text-decoration: underline;
    color: red;
}
.blog-content {
    display: flex;
    border: 2px blue;
    max-width: 80vw;
    margin: 0 auto;
    align-items: center;


}

.card-img img {
    height: 170px;
    width: 230px;
    margin: 8px 2px;
}

.card-text {
    margin: 4px 15px;
    font-size: 20px;
}

.card-text p {
    padding-top: 10px;
}

.Footer {
    display: flex;
    justify-content: center;
    background-color: rgb(215, 215, 195);
    height: 40px;
    align-items: center;
}
.Footer a{
    margin-left: 20px;
    color: #000000;
}

@media only screen and (max-width: 650px) {
    .Hearder-right-items a {
        text-decoration: none;
        text-transform: uppercase;
        margin: 0px 0px;
        font-weight: 200;
        letter-spacing: 0em;
        font-size: 1rem;
    }

    .Hearder-right-items {
       display: none;
    }

    nav ul li {
        margin: 0rem 0rem;
        font-size: 1.3rem;
    }
    nav ul li a {
        font-family: none;
        font-weight: bolder;
    }

    .Cant-right img {
        display: none;
    }

    .Cant-left {
        width: 100%;
    }

    .Cant-left h2 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .Cant-left p {
        font-size: 0.9rem;
    }
    .card-img img {
        height: 30vh;
        width: 72vw;
        margin: 8px 2px;
    }
    .blog-content {
        display: flex;
        flex-direction: column;
    }
    .column h1{
        font-size: 1rem;
        margin: 1rem;
    }
    .logo{
        padding-right: 2rem;
    }
    .Footer {
        flex-direction: column ;
    }
}


@media only screen and (max-width: 922px) {
    .search-bos {
        display: none;
    }
}
